.feed{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-column-gap:16px;
    grid-row-gap: 30px;
    margin-top: 15px;
}
.card img{
    width: 100%;
    height: 25vh;
    border-radius: 5%;
}
.card h2{
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin: 5px 0;
}
.card h3,p{
    font-size: 13px;
    font-weight: 400;
    color: #746c6c;
    margin: 5px 0;
}
.card p{
    font-size: 11px;
    font-weight: 300;
    color: #130404;
    margin: 5px 0;
}